<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RibbonTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RibbonTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RibbonTests.Properties.Settings>
            <setting name="ValueAppendDiection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PortSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="IsHotTrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeechValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceAbsValue" serializeAs="String">
                <value>True</value>
            </setting>
        </RibbonTests.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RibbonTests.Properties.Settings>
            <setting name="ProductName" serializeAs="String">
                <value>OrderIn.LZ</value>
            </setting>
            <setting name="ProductCode" serializeAs="String">
                <value>{C43C73EE-E7A6-49AA-91E8-365D1EE333FD}</value>
            </setting>
        </RibbonTests.Properties.Settings>
    </applicationSettings>
</configuration>